body{
    margin: 0px;
    width: 100%;
    min-height: 100%;
    text-align: center;
    background-color: #B21B70;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23B21B70' cx='50' cy='0' r='50'/%3E%3Cg fill='%23b62c75' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b93a7b' cx='50' cy='100' r='50'/%3E%3Cg fill='%23bd4681' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c05186' cx='50' cy='200' r='50'/%3E%3Cg fill='%23c35b8c' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c66592' cx='50' cy='300' r='50'/%3E%3Cg fill='%23c96e97' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cc789d' cx='50' cy='400' r='50'/%3E%3Cg fill='%23cf81a3' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d28aa9' cx='50' cy='500' r='50'/%3E%3Cg fill='%23d494af' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d79db4' cx='50' cy='600' r='50'/%3E%3Cg fill='%23d9a6ba' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dbafc0' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ddb8c6' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dfc1cc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23e1cad3' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e2d3d9' cx='50' cy='900' r='50'/%3E%3Cg fill='%23e4dcdf' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23E5E5E5' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    ;
    }
    
    body a{
        text-decoration: none;
    }

    img{
        max-width: 90%;
        box-shadow: 2px 2px 3px lightgrey;
        margin: 20px 0px;
        border: 1px;
        border-color: lightgrey;
        border-style: solid;
        transition: transform .8s;
    }
    header a{
        color: white;
        font-size: 35px;
        margin-top: 40px;
        margin-left: 10px;
        font-family: 'Major Mono Display', sans-serif;

    }
    header {
        grid-area: header;
        text-align: left;
        background-color: transparent;
        height: 100px;
        display: grid;
        border: none;
        border-color: white;background-color: rgba(255, 255, 255, 0.2);
        
      }
      
      main {
        grid-area: main;
        margin: 0px 10px;
      }
      
      footer {
        grid-area: footer;
        background-color: rgba(169, 195, 235, 0.271);
        text-align: center;
        position: relative;
        margin-top: 50px;
        display: grid;
        color: black;
        border-top: solid;
        border-width: 1px;
        border-color: rgba(169, 195, 235, 0.271);
      }

      footer p{
          margin: 150px 0px 20px;
      }

      h1{
          padding: 40px 0px 15px;
          font-size: 36px;
          letter-spacing: 2px;
          font-family: 'Major Mono Display', sans-serif;
      }
      
      h2{
        font-family: 'Raleway Medium', sans-serif;
        letter-spacing: 1px;
      }

      .cards{
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 10px;
          justify-items: center;
      }

      .cards a{
          display: inline-block;
          padding: 5px 10px;
          background-color: white;
          margin: 0px 5px 20px;
          color:black;
          text-transform: uppercase;
          box-shadow: 2px 2px 3px lightgrey;
          border: 1px;
          border-color: lightgrey;
          border-style: solid;
          font-size: 14px;
          transition: transform .2s;
          font-family: 'Raleway Light', sans-serif;
          letter-spacing: 1px;
      }
      .cards a:hover{
        transform: scale(1.05);
        background-color: rgba(188, 199, 207, 0.63);
     }

      .cards div{
        box-shadow: 2px 2px 3px lightgrey;
        background-color: rgb(249, 249, 249);
        width: 50%;
        border-color: lightgrey;
        border-style: solid;
        border-width: 1px;
        transition: transform .8s;
        margin-bottom: 30px;
      }

      .cards div:hover{
        transform: scale(1.02);
      }

      .cards IMG:hover{
         transform: scale(1.5);
      }
     .cards p{
          text-align: left;
          margin: 10px 5px 15px;
          font-family: 'Raleway ExtraLight', sans-serif;
          display: inline-block;
          font-size: 14px;
          background-color: rgba(169, 195, 235, 0.271);
          padding: 5px 15px;
          box-shadow: 1px 1px 1px lightgrey;

      }

      .cards p:first-of-type{

        display: block;
        background-color: rgb(249, 249, 249);
        border-style: none;
        box-shadow: none;
        font-size: 16px;
      }

       /*tablet styles*/

@media only screen and (min-width: 481px) and (max-width: 768px) {
.cards div{
    width: 80%;
}
}

/* Mobile styles*/

@media only screen and (max-width: 480px) {
    .cards div{
        width: 100%;
    }

    .cards IMG:hover{
        transform: scale(1.3);
     }
}